<div class="col-sm-12" style="padding: 10px">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<a href="http://www.unit4.com/">
					<img src="resources/images/Unit4_Logo.png">
				</a>
				<h1 class="u4-color-dark-grey">Open Source</h1>
			</div>
			<div class="col-sm-12 col-md-6">
				<p>Our revolutionary new approach is delivering the next generation of self-driving, intelligent ERP and enterprise applications for service organizations and their people.</p>
			</div>
			<div class="col-sm-12 col-md-6 u4-separator-small u4-background-light-grey">
			</div>
			<div class="col-sm-6 col-md-3 u4-statistics">
				<div>
					<a class="u4-badge" href="https://github.com/{{org.name}}/repositories">
						Repositories <b><span class="u4-color-orange">{{org.public_repos}}</span></b>
					</a>
				</div>
				<div>
					<a class="u4-badge" href="https://github.com/orgs/{{org.name}}/people">
						Members <b><span class="u4-color-orange">{{publicMembers.length}}</span></b>
					</a>
				</div>
			</div>
		</div>


	</div>
</div>
<!--<u4-statistics class="col-xs-12 col-md-6"></u4-statistics>
	<u4-activity class="col-xs-12 col-md-6"></u4-activity>-->
