<div class="col-xs-12" style="padding: 10px">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<img src="resources/images/Unit4_Logo.png">
				<h1 class="u4-color-dark-grey">Open Source</h1>
			</div>
			<div class="col-sm-12 col-md-6">
				<p>Our revolutionary new approach is delivering the next generation of self-driving, intelligent ERP and enterprise applications for service organizations and their people.</p>
			</div>
		</div>
		
		
	</div>
</div>
<!--<u4-statistics class="col-xs-12 col-md-6"></u4-statistics>
	<u4-activity class="col-xs-12 col-md-6"></u4-activity>-->
