/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	body {
		font-size: 30px;
		}

	h1 {
		font-size: 50px;
	}

	h3 {
		font-size: 40px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	body {
		font-size: 20px;
		}

	h1 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	.u4-badge {
		font-size: 15px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
		font-size: 14px;
		}

	h3 {
		font-size: 30px;
	}
}

.u4-color-green {
	color: rgb(184,210,51);
}

.u4-color-dark-grey {
	color: rgb(105,116,123) !important;
}

.u4-color-light-grey {
	color: rgb(234,235,238);
}

.u4-color-blue {
	color: rgb(73,181,225);
}

.u4-color-orange {
	color: rgb(242,121,35);
}

.u4-background-green {
	background: rgb(184,210,51);
}

.u4-background-dark-grey {
	background: rgb(105,116,123) !important;
}

.u4-background-light-grey {
	background: rgb(234,235,238);
}

.u4-background-blue {
	background: rgb(73,181,225);
}

.u4-background-orange {
	background: rgb(242,121,35);
}

.jumbotron {
	background-color: transparent;
	margin-bottom: 10px;
}

a.u4-badge, a.u4-badge:hover {
	color: rgb(105,116,123);
	padding-right: 3px;
}

.u4-statistics {
	padding-top: 0px;
	padding-bottom: 10px;
}

.u4-separator-small {
	height: 1px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.u4-separator-big {
	height: 4px;
	margin-top: 5px;
	margin-bottom: 15px;
}

repo {
	padding: 10px
}

repo a, a:hover {
	color: rgb(184,210,51);
}
